<li class="list-group-item">
	<strong>Monday, August 17th, 2015</strong><br>
	I made important performance improvements.
	The game should run a lot faster especially on slow browsers (aka all but Google Chrome).
	Lighting effects are now only enabled on Google Chrome.
	I implemented a caching system for common UI getters.
	I optimize many UI elements which had redundant styling.
	Drawing the hp bar and chat over the head is a lot more efficient. 
	This is done by precalculating the position on the update loop rather than on the draw loop.
</li>

<li class="list-group-item">
	<strong>Sunday, August 16th, 2015</strong><br>
	I added a particle effect system. Bullets and animations now generate particles.
	Climbing stairs now slows you down.
	Actors no longer shake when moving the camera.
	The slashing animation is a lot more precise.
</li>

<li class="list-group-item">
	<strong>Thursday, August 13th, 2015</strong><br>
	I added a sound effect when colliding with a monster.
	Bullets now disappear faster after hitting an enemy.
	I added new icons and animations.
	The camera movement is now disabled in certain quests.
	You no longer bounce off enemies while not in combat.
	The animations now update at proper speed.
</li>
<li class="list-group-item">
	<strong>Monday, August 10th, 2015</strong><br>
	I'm back from vacation! 
	The draw and the update loops are now separated. 
	This will improve the game performance on slow computers.
	I added an hp bar and hit splashes to players. 
	Players automatically pick up drops if nearby.
	They now lose hp if they collide with monsters.
	I added a <a href="/credit" target="_blank">credit</a> page and improved the <a href="/SpritePreview" target="_blank">Sprite Preview</a>.
</li>
<li class="list-group-item">
	<strong>Saturday, July 25th, 2015</strong><br>
	I'm currently restructuring the system to follow a more traditional Object-Oriented structure.
</li>
		
<li class="list-group-item">
	<strong>Wednesday, July 22nd, 2015</strong><br>
	The font has been changed to Miniset2.
	The camera now adjusts depending on the mouse position.
	When getting hit, the player will be knocked back and the screen will flash red.
	I added sound effects to the interface. 
	A lot more will come soon.
</li>
<li class="list-group-item">
	<strong>Sunday, July 19th, 2015</strong><br>
	This week, I focused on making small but important tweaks to the game.
	When leveling up, you obtain an Equip Box which gives you an equip of your choice.
	Monsters are now less aggressive when they are at full hp.
	I added 4 new highscore for side quests and a dialogue keyword highlight system.
	The quest hint is now more visible. The side quests now display hints.
	A lot more tweaks have been made as well.
</li>

<li class="list-group-item">
	<strong>Friday, July 10th, 2015</strong><br>
	I changed the boss tutorial so it's easy to kill using melee.
	Entering a town now clears status effect.
	Getting inside a wall now kills you.
	I added new web section for <a href="/zelda/mm" target="_blank">Zelda Majora's Mask Glitches</a>.
</li>

<li class="list-group-item">
	<strong>Monday, July 6th, 2015</strong><br>
	There is now an option to play the game quickly without registration.
	Providing email is no longer required when registrating.
	You can now change your username once per week. 
	Music tracks are no longer preloaded.
</li>


<li class="list-group-item">
	<strong>Saturday, July 4th, 2015</strong><br>
	I made various improvements to the tutorial. It should now be a lot easier to complete.
	Opening the world map for the first time now causes less lag.
	You now get a rare equip the first time you complete a quest.
	Salvaging equips now gives items that make sense.
</li>
<li class="list-group-item">
	<strong>Wednesday, July 1st, 2015</strong><br>
	I added the online <a href="/SpritePreview" target="_blank">Sprite Creator</a> and the <a href="/AnimPreview" target="_blank">Anim Creator</a>.
	Check the <a href="/contribution" target="_blank">contribution page</a> for more info.
	I improved the overworld map quite a lot. 
	I also added waypoints which allow players to teleport to different locations.
	You can unlock the west waypoint by completing the new challenge "Complete 5 Side Quests".
	You can now right click a player name to teleport to him.
</li>

<li class="list-group-item">
	<strong>Monday, June 29th, 2015</strong><br>
	I added an in-game world map which shows all quests and side quests.
	Players are now invincible when teleporting maps and when signing in.
	Dying before reaching the NPC who starts the quest no longer fails the quest.
	Magic has been renamed to Arcane to avoid confusion.
	Upon signing in, a message concerning the weekly competition is displayed.
</li>

<li class="list-group-item">
	<strong>Saturday, June 27th, 2015</strong><br>
	Biggest update of the year! 
	The <a href="/wiki/map" target="_blank">overworld map</a> is now x4 bigger than it used to. 
	A big thanks to Boo for helping me with that.
	Many quests have been reallocated in the western forest. 
	I added 10 side quests to the game, one for each of new map. GEM now slightly affects drop rate on top of exp. 
	The database has been heavily modified. I am now using database schemas to prevent data corruption.
	I fixed a bug in Firefox where a black line could be seen between map images.
</li>

<li class="list-group-item">
	<strong>Sunday, June 22nd, 2015</strong><br>
	The website is now using secure websocket connection (wss) for all data transmissions.
	I implemented a side quest system. Actual side quests should come how soon.
	Resource plots (tree/rock/squirrel) now give x3 more resources but take 15 minutes to regrow. I removed the daily limit on them.
	I improved the trading window and the quest marker system now uses Dijkstra algorithm.
	Reaching high level now requires having a minimal GEM.
</li>



<li class="list-group-item">
	<strong>Wednesday, June 17th, 2015</strong><br>
	The crafting system is finally finished!
	You can now reroll equipment stats and power using materials once reaching level 8.
	The equip window has been totally revamped.
	I adjusted the Quest Score for existing players to match the recent changes to Quest Rewards.
</li>
<li class="list-group-item">
	<strong>Monday, June 15th, 2015</strong><br>
	Another very busy day!
	The player Boo and I worked hard to balance the quest rewards.
	Quests should now give roughly the same reward per hour.
	Completing a quest for the first time grants a 1000 exp bonus.
	Killing summoned monsters no longer gives exp.
	I made major improvements to the <a href="/zelda" target="_blank">Zelda Speedrunning</a> section of the website.
	The achievement window now has icons for abilities.
	I fixed various bugs related to the shops, dying and Darkness quest.
	Abandonning a quest no longer removes weather effects.
</li>
<li class="list-group-item">
	<strong>Saturday, June 13th, 2015</strong><br>
	I modified quite a lot of stuff in the last couple days.
	You can no longer perform actions while dead.
	I added a bunch of shortcuts to quickly open windows. Check in Settings -> Binding for more info.
	Player sprite now changes depending on the equipment used.
	I improved client prediction concerning NPCs.
	I'm currently working on a new crafting system.
</li>

<li class="list-group-item">
	<strong>Thursday, June 11th, 2015</strong><br>
	I implemented a new death system. 
	Upon dying, you will be transformed into a gravestone which can be revived by a teammate.
	I also added a basic 404 page to the website.
	Clicking on a quest npc while doing another quest will no longer popup the abandon quest menu.
	In the tutorial, you can no longer activate the switch without pushing the rock.
</li>

<li class="list-group-item">
	<strong>Thursday, June 4th, 2015</strong><br>
	I improved the algorithm when clicking on a NPC and moving towards it. 
	I also made important changes with the preset system used for toggling combat. 
	After dying, you are now invincible until you move.
	Upon sign in, you will be greeted with the latest patch notes details.
	The chrono is now a lot more accurate.
	You can now see the server status on <a href="https://twitter.com/rainingchain" target="_blank">Twitter</a>.
</li>

<li class="list-group-item">
	<strong>Wednesday, June 3rd, 2015</strong><br>
	I made important exp rate changes. 
	Overall, most of the quests now give more exp.
	Killing the same monsters over and over now gives less exp.
	The maximum level obtainable is now level 25. 
	Players levels have been adjusted in consequence. 
	I'm sorry for the inconvenience.
</li>
<li class="list-group-item">
	<strong>Tuesday, June 2nd, 2015</strong><br>
	I am currently revamping the equipment and crafting system.
	The only thing I've changed so far is that materials no longer have level but more are to come.
	I've also fixed a few issues with achievements and the Boss Battle quest.
	Lighting effects and weather are now disabled by default on Firefox because it's poorly supported by the browser.
</li>
<li class="list-group-item">
	<strong>Monday, June 1st, 2015</strong><br>
	I added the new quest Boss Battle where you need to fight 5 powerful bosses back to back without dying. 
	It is by far the most challenging quest so far and it also gives the best rewards.
</li>
<li class="list-group-item">
	<strong>Sunday, May 31th, 2015</strong><br>
	I added a new puzzle quest: Tile Flipping.
	I made important changes with the structure of the game. 
	The http server is now hosted on Nodejitsu while the game server (websocket) is hosted on Heroku. 
	This should improve performance.
</li>
<li class="list-group-item">
	<strong>Friday, May 29th, 2015</strong><br>
	I added 3 new quests into the game. 
	In the quest Bad Luck Brian, you need to break a mysterious curse related to the random number generator.
	The quest Moving Targets is the sequel of Break Targets. This time around, the targets are moving. 
	Finally, in the quest Teleporter2000, you need to fight waves of monsters with the help of powerful towers.	
</li>

<li class="list-group-item">
	<strong>Wednesday, May 27th, 2015</strong><br>
	I just added over 40 new achievements, 9 abilities and <a href="/wiki/stat">18 unique equip boosts</a>. 
	You now receive less experience if you are way above the monsters level. In the upcoming days, I will focus on creating new quests.
</li>

<li class="list-group-item">
	<strong>Wednesday, May 20th, 2015</strong><br>
	I've finally added Achievements to the game!
	Completing achievements grants abilities, items and exp.
	When too far away from a NPC, you will now move towards it.
	I changed all the dialogues so they match with the new storyline.
	New tutorials for the <a href="/QuestCreator">Quest Creator</a> have been released.
	Finally, I made important changes with the way the server is structured. It is now able to handle far more players.
</li>
				
<li class="list-group-item">
	<strong>Monday, May 18th, 2015</strong><br>
	I've added quite a lot of stuff today. Most importantly, NPCs no longer walk away when talking to them and players can no longer be attacked while in dialogue or while checking quest reward.
	I've also fixed many little bugs and improved a bunch of quests. Puzzle & Switch now works correctly.
</li>

<li class="list-group-item">
	<strong>Saturday, May 16th, 2015</strong><br>
	Equipment popups should be easier to use. I've also released new tutorials for the <a href="/QuestCreator">Quest Creator</a> and a new <a href="/tutorial/html5">HTML5 tutorial</a>.
</li>
<li class="list-group-item">
	<strong>Friday, May 15th, 2015</strong><br>
	The quest Locked Memento created by Boo has been added to the game. It can be started by talking with Roland in the town.
	You can now sell equipments to shops. I also did various little improvements such as level up sound effect and more friendly inventory.
</li>

<li class="list-group-item">
	<strong>Thursday, May 14th, 2015</strong><br>
	The game has a new storyline: Lord Dotex managed to hack into the game and you need to fix his glitches. The intro of the tutorial changed been to reflect that.
	There is now a shop in the town where you can buy equipment and upgrade materials. I've also improved data transmission compression.
</li>

<li class="list-group-item">
	<strong>Monday, May 11th, 2015</strong><br>
	Lots of stuff this week! Thanks to Silver Side feedback, I implemented a new map drawing system where maps no longer have black edges.
	I also implemented a system that teleports the player automatically when near a map transition.
	When on low life, the screen will flash in red to warn the player. There are also multiple changes with the equip window, equip upgrade, monsters rebalancing 
	and <a href="/patchNotes">more</a>. I am currently working on adding shops, revamping the inventory and the "story".
</li>
<li class="list-group-item">
	<strong>Thursday, May 7th, 2015</strong><br>
	I entirely remade the Movement system for the game. This should reduce lag by a lot. If you find any oddities, please let me know. Unfortunately, I had to remove the Dodge abilities from the game. I've also released the <a href="/tutorial/html5">Episode 17</a> about creating your own game with HTML5. 
</li>
<li class="list-group-item">
	<strong>Monday, May 4th, 2015</strong><br>
	I've just released a new version for the Quest Creator. It also includes an auto-updater and many new features. You can download the Quest Creator <a href="/QuestCreator">here</a>. This new version uses WPF instead of Winforms. 
</li>
<li class="list-group-item">
	<strong>Thursday, April 30th, 2015</strong><br>
	I created a subreddit on Raining Chain and I posted all the quest feedback collected over the last months. You can check it <a href="http://www.reddit.com/r/rainingchain">here</a>. 
</li>
<li class="list-group-item">
	<strong>Wednesday, April 29th, 2015</strong><br>
	I just finished my last school exam. This means I will now have plenty time to work on Raining Chain! 
</li>
<li class="list-group-item">
	<strong>Monday, April 27th, 2015</strong><br>
	The major update this week is resizable game screen. Before, the game could only be ran at 1280x720 but now it can be scaled in any format. I also revamped the home page of the website to include the News section and social media icons. Finally, I made a new dialogue box when starting a new quest that makes challenges more obvious.
</li>
