<% include partial/header.html %>
<div class="container">
	<div class="container">
		<h2>Downloading for First Time</h2>
		<p>
		<a href="http://www.mediafire.com/?ay969yyadzp51l1" target="_blank">Click here</a>
		 to download the latest version of the Quest Creator Package (Contains Game Engine + Quest Creator + Map Editor + NodeJS)<br>
		</p>
		<object width="800" height="450" data="http://www.youtube.com/embed/CCAjNcfS5OI"></object>
	</div>
	<br>
	<div class="container">
		<h2>Updating</h2>
		<p>
		If you have already installed the package and a new version is released, you can update your software with these:
		</p>
		<p>
		 - Latest Game Engine version: v1.4
		<a href="http://github.com/RainingChain/rainingchain/archive/master.zip" target="_blank">Download</a>
		(Only contains Game Engine. Replace the c:\rc\rainingchain folder.)
		</p>
		<p>
		 - Latest Quest Creator version: v1.2
		<a href="http://www.mediafire.com/?pf87ocd195d8118" target="_blank">Download</a>
		(Only contains Quest Creator. Replace the c:\rc\QuestCreator folder.)
		</p>
		<object width="800" height="450" data="http://www.youtube.com/embed/p0ajKZQmziI"></object>
	</div>
</span>
<% include partial/footer.html %>








