<% include partial/header.html %>

<div class="container">
	<h2>Contributing to Raining Chain</h2>
	<p>
	You love Raining Chain and you would like to be part of its development?
	Great! Raining Chain is always looking for enthusiastic players to improve the game.
	Any help is greatly appreciated.
	</p>
	<p>
		By contributing to the project, you will get Contribution Points which can be spent to unlock awesome cosmetic rewards such as character customization, bullet reskin and chat badges. 
		The full list can be found in-game by clicking the <img width="24px" height="24px" src="./../../img/ui/icon/system-gold.png"> icon.
	</p>
	
	<h3>How to Contribute</h3>
	<div class="container">
		<h4><a href="/QuestCreator">Quest Creation</a></h4>
		<p>
			Submit your own quest created with the easy-to-use Quest Creator software.<br>
			The Quest Creator contains all the tools needed to create and test quests for Raining Chain.
		</p>
		
		<br>
		<h4><a href="https://trello.com/b/cLJknVQ4/general" target="_blank">Art Bounties</a></h4>
		<p>
			Raining Chain is always in need of new nice sprites creation (pixel art), sound effects, animations, icons and more.<br>
			The list of art jobs can be found on<a href="https://trello.com/b/cLJknVQ4/general" target="_blank">
				<img height="24px" src="./../../img/ui/trello.png">
			</a>.
			<br>
			<p>
				Tools: 
				<ul>
					<li><a href="http://www.getpaint.net/download.html" target="_blank">Paint.NET</a> to create the art. (Or any other software)</li>
					<li><a href="/SpritePreview" target="_blank">Sprite Preview</a> to test sprites in browser.</li>
					<li><a href="/AnimPreview" target="_blank">Anim Preview</a> to test animation effects in browser.</li>
				</ul>
			</p>
		</p>
		<br>
		<!--
		
			
		</p>
		
		<br>
		-->
		<h4>Feedback</h4>
		<p>Leave constructive feedback after completing a quest and report bugs if you find one.</p>
		<br>
		<h4>Social Media</h4>
		<p>Coming soon.</p>
		<br>
		<!--
		<p>
			Spread the word about Raining Chain and earn cool rewards!<br>
			To get Contribution Points, make sure your Raining Chain account is linked with your social media accounts.
		</p>
		<ul class="list-group">
			<li class="list-group-item">
				<img height="24px" width="24px" src="./../../img/ui/twitter.png">
				<strong>Twitter</strong>: To get points, your twit needs to contain #rainingchain. 
			</li>
			<li class="list-group-item">
				<img height="24px" width="24px" src="./../../img/ui/twitch.png">
				<strong>Twitch</strong>: To get points, you need to stream under the game Raining Chain.
			</li>
			<li class="list-group-item">
				<img height="24px" width="24px" src="./../../img/ui/reddit.png">
				<strong>Reddit</strong>: To get points, you need to post on <a href="http://www.reddit.com/r/rainingchain">/r/rainingchain</a>.
			</li>
			<li class="list-group-item">
				<img height="24px" width="24px" src="./../../img/ui/youtube.png">
				<strong>Youtube</strong>: To get points, your video title needs to contain Raining Chain.
			</li>
		</ul>
		<br>
		-->
	</div>
</div>
<% include partial/footer.html %>








