<% include partial/header.html %>
<div class="container">
<!--
	What:Who [Link]
-->
	<h2>Credit</h2>

	<h4 style="margin-left:20px">Check how you too can <a href="/contribution" target="_blank">contribute</a> to the game!</h4>
	<br>
	<div style="font-size:1.1em">
		<h4>Game Engine, Game UI, Website & Quest Creator</h4>
		<ul>
			<li>Samuel Magnan</li>
		</ul>
	</div>
	<br>
	<h4>Sprite</h4>
	<ul>
		<li>Bat, Bee, BigWorm, Eyeball, Ghost, Plant, Pumpkin, Slime, SmallWorm, Snake, Chest: <a href="http://lpc.opengameart.org/">Open Game Art</a></li>
		<li>Edited Basilisk, Snake, Larva, BigWorm: Ulysses Pinheiro</li>
		<li>Villagers and Players: <a href="http://charas-project.net/charas2/index.php">Charas Project</a></li>
		<li>Orcs: <a href="http://charas-project.net/resources.php">cingin</a></li>
		<li>ShadowBall: <a href="http://mohsin-kun.deviantart.com/art/Shadow-Ball-73303663">Mohsin-Kun</a></li>
	</ul>	

	<h4>Map</h4>
	<ul>
		<li>West & North Overworld Design: Boo</li>
		<li>First 4 Western Forest Maps: Boo</li>
		<li>Other Maps: Samuel Magnan</li>		
	</ul>
	
	<h4>Quests</h4>
	<ul>
		<li>Locked Memento: Boo</li>
		<li>Other Quests: Samuel Magnan</li>		
	</ul>

	<h4>Tileset</h4>
	<ul>
		<li>Edited Roof, Well: Jerome T.</li>
		<li>Tree, Hole, Lava, Rock, Stairs, Some Furnitures, Barrels, Buckets: <a href="http://lpc.opengameart.org/">Open Game Art</a></li>
	</ul>

	<h4>Face</h4>
	<ul>
		<li>Generator: <a href="http://foxrichards.deviantart.com/art/FaceMaker-52755515">FoxRichards</a></li>
		<li>Helpers: Dabeastlybro, T3hpoundcake, Dafreaki</li>
	</ul>	

	<h4>Song</h4>
	<ul>
		<li>Game it All Day: <a href="http://www.newgrounds.com/audio/listen/476685">Getcheffy</a></li>
		<li>Carol Of The Balls: <a href="http://www.newgrounds.com/audio/listen/561212">Evil-Dog</a></li>
		<li>Crimson Crisis: <a href="http://www.newgrounds.com/audio/listen/556797">Darknessbreaker</a></li>
		<li>Digital Insanity!: <a href="http://www.newgrounds.com/audio/listen/517360">DJM4C</a></li>
		<li>Final Battle 8-bit: <a href="http://www.newgrounds.com/audio/listen/546497">K-Pone</a></li>
		<li>JUR Track 2 - Loreman: <a href="http://www.newgrounds.com/audio/listen/488195">3kliksphilip</a></li>
		<li>Super Gourmet Race: <a href="http://www.newgrounds.com/audio/listen/540968">MiguelVolkov</a></li>
	</ul>

	<h4>Sfx</h4> 
	<ul>
		<li>Various: <a href="http://www.soundjay.com/">Sound Jay</a></li>
		<li>Various: <a href="http://browserquest.mozilla.org/">Browser Quest</a></li>
		<li>Various: <a href="http://SoundBible.com">Sound Bible</a></li>
		<li>Yume Freebie Vol. 1: <a href="http://plasterbrain.com">plasterbrain</a></li>
	</ul>
		
	<h4>Misc.</h4>
	<ul>
		<li>Items & Ability Icons: <a href="http://game-icons.net/">Lorc, Delapouite & contributors</a></li>
		<li>Background: <a href="http://subtlepatterns.com">Subtle Patterns</a></li>
		<li>Logo: Kave623</li>
	</ul>

	<h4>Software</h4>
	<ul>
		<li>Map Editor: <a href="http://www.mapeditor.org/">Tiled</a></li>
		<li>Image Compressor: <a href="http://pngquant.org/">Pngquant</a></li>
		<li>Server: <a href="http://nodejs.org/download/">Nodejs</a></li>
		<li>Image Editing: <a href="http://www.getpaint.net/index.html">Paint.NET</a></li>
		<li>Database: <a href="https://www.mongodb.org/">MongoDB</a></li>
	</ul>
	<br>
	Last Update: 2015-09-13<br>
	Contact me for more details.
	<br>
</div>
<% include partial/footer.html %>