<% include partial/header.html %>
<div class="container">
	<h2>Patch Notes</h2>
	<!-- -->
	
	<h3>2015-05-03</h3>
	<ul>
		<li>Feedback is now posted automatically on <a href="http://www.reddit.com/r/rainingchain">Reddit.</a></li>
		<li>Added a Feedback button at the bottom right corner.</li>
		<li>You can now set a maximum width in the Settings.</li>
		<li>Finishing in the top 5 in the weekly competition now grants a special item.</li>
		<li>You can now change reputation during a quest.</li>
		<li>Increased the interaction range for NPC and certain rocks.</li>
		<li>Revamped tutorial.</li>
		<li>Can now add icons in quest hint and popups.</li>
	</ul>
	
	
	<h3>2015-04-27</h3>
	<ul>
		<li>Game screen is now resizable instead of 1280x720.</li>
		<li>Added metrics. (Stats about player behaviour.)</li>
		<li>Revamped home page to include News, Twitter and Twitch icons.</li>
		<li>Added a new dialogue box when starting a quest.</li>
		<li>Removed unused icons.</li>
	</ul>
	
	<h3>2015-04-17</h3>
	<ul>
		<li>Added option to disable lighting effects and weather.</li>
		<li>Add global weather system.</li>
		<li>Added sunny and night weather.</li>
		<li>Added a mention when setting a new highscore.</li>
		<li>Revamped the dialogue faces for males.</li>
		<li>Added weapon/ability efficiency indicator.</li>
	</ul>
	
	<h3>2015-04-10</h3>
	<ul>
		<li>Added lighting effects to animations.</li>
		<li>Revamped the dialogue faces for females.</li>
		<li>Added raining weather.</li>
	</ul>
		
	<h3>2015-04-09</h3>
	<ul>
		<li>Implemented a lighting effect system..</li>
		<li>Added lighting effects to projectiles.</li>
		<li>Added Shake screen effect.</li>
		<li>Added more achievements.</li>
		<li>Revamped the death teleport transition.</li>
		<li>Combine popups into one.</li>
	</ul>
	
	<h3>2015-04-07</h3>
	<ul>
		<li>Display Competition in in-game highscore window.</li>
		<li>Revamped the Kill Count system. Kill Count is now map-based instead of quest-based.</li>
		<li>Increased drop rate for materials and equipments.</li>
		<li>Implemented a quest requirement system.</li>
		<li>Combine popups into one.</li>
	</ul>
	<h3>2015-04-06</h3>
	<ul>
		<li>Revamped popup window look.</li>
		<li>Changed enemy and npc sprites.</li>
		<li>Added more villager dialogues.</li>
		<li>Revamped the equip popup.</li>
		<li>Added HTML5 Tutorial webpage.</li>
	</ul>
	
	<h3>2015-04-02</h3>
	<ul>
		<li>Now support multiple popups.</li>
		<li>Added Lore wiki page.</li>
		<li>Added more integrity tests.</li>
	</ul>
	
	<h3>2015-04-01</h3>
	<ul>
		<li>Removed the global variable "key".</li>
		<li>System to spy on players. Muhahaha!</li>
		<li>Revamped disconnect popup.</li>
		<li>Revamped the hints for every quest.</li>
	</ul>
	
	<h3>2015-03-31</h3>
	<ul>
		<li>Added achievement system.</li>
		<li>Added contribution system.</li>
		<li>Revamped tutorial.</li>
		<li>Added exp bar.</li>
	</ul>	
	
	<h3>2015-03-29</h3>
	<ul>
		<li>Added the quest Sad Tree.</li>
		<li>Added new dialogues for NPC in Town.</li>
		<li>Added Map Addon support to the Quest Creator. </li>
		<li>Improved the dialogue and teleport system for quests.</li>
		<li>Added a Integrity Test module to find automatically find bugs.</li>
	</ul>	
	
	<h3>2015-03-25</h3>
	<ul>
		<li>Multiple minor tutorial changes.</li>
		<li>Minimap icon changes.</li>
		<li>Entirely revamped the icons and dialogue faces system.</li>
		<li>Display message if using Heal ability when already full HP.</li>
		<li>Revamped Binding Window when using Client Prediction.</li>
		<li>Fixed bug with spam detection system.</li>
	</ul>
	
	<h3>2015-03-11</h3>
	<ul>
		<li>Added a game info section.</li>
	</ul>	
	<h3>2015-03-08</h3>
	<ul>
		<li>Website has been entirely remade.</li>
		<li>Every quest now has a thumbnail.</li>
		<li>Contribution system has been implemented. It includes Chat Color, Chat Symbol, Player Sprite, Bullet Reskin and Achievement Broadcast.</li>
		<li>Changes with the tutorial. (Revamped Admin Zone and boss fight).</li>
		<li>Added quest Puzzle & Switch.</li>
	</ul>
</div>
<% include partial/footer.html %>



