<% include ../partial/header.html %>
<script src="/js/shared/Tk.js"></script>
<div class="container">
	<h3>Abilities</h3>
	<p>
	This is the list of the abilities players can unlock by completing quests.
	</p>
	<style>
	#myTable tr td {
		font-weight: 500;
	}
	#myTable tr td:first-child {
		/*text-decoration:underline;*/
		font-weight: 900;
	}
	</style>
	<table id="myTable" class="table">
		<tr>
			<th>Ability</th>
			<th class="hidden-xs hidden-sm">Type</th>
			<th class="hidden-xs hidden-sm">Damage</th>
			<th>Description</th>
		</tr>
		<tr><td>Strike</td><td>Melee Attack</td><td>500</td><td>Regular Melee Strike</td></tr>
		<tr><td>Basic Bullet</td><td>Range Attack</td><td>100 * 3</td><td>Very fast arrow shooting.</td></tr>
		<tr><td>Arcane Bullet</td><td>Arcane Attack</td><td>300</td><td>Powerful magic spell with increased chance to drain mana.</td></tr>
		<tr><td>Fire Ball</td><td>Fire Attack</td><td>400</td><td>Shoot a single fireball that explodes upon hit.</td></tr>
		<tr><td>Ice Shards</td><td>Cold Attack</td><td>300 * 2</td><td>Shoot multiple ice shards.</td></tr>
		<tr><td>Lightning Bullet</td><td>Lightning Attack</td><td>125</td><td>Shoot piercing lightning balls at the speed of light.</td></tr>
		<tr><td>Bleeding Blow</td><td>Melee Attack</td><td>700</td><td>Powerful Melee Strike with increased bleed chance. Cost life.</td></tr>
		<tr><td>Wind</td><td>Range Attack</td><td>200 * 3</td><td>Defensive wind that pushes enemies away.</td></tr>
		<tr><td>Arcane Explosion</td><td>Arcane Attack</td><td>1200</td><td>Explosive spell that can leech life.</td></tr>
		<tr><td>Fireball Boom</td><td>Fire Attack</td><td>150 * 7</td><td>Shoot multiple fireballs.</td></tr>
		<tr><td>Freeze Bullet</td><td>Cold Attack</td><td>200 * 5</td><td>Defensive spell that feezes enemies.</td></tr>
		<tr><td>Lightning Explosion</td><td>Lightning Attack</td><td>400</td><td>Explodes in all directions, piercing through enemies.</td></tr>
		<tr><td>Heal</td><td>Heal</td><td>-</td><td>Replenish resources.</td></tr>
		<tr><td>Fast Regen</td><td>Heal</td><td>-</td><td>Faster but less powerful healing.</td></tr>
		<tr><td>Expensive Regen</td><td>Heal</td><td>-</td><td>Mana-expensive but great healing.</td></tr>
		<tr><td>Slow Cast Regen</td><td>Heal</td><td>-</td><td>Slow to cast but free healing.</td></tr>
		<tr><td>Boomerang</td><td>Range Attack</td><td>300</td><td>Shoot a boomerang that comes back that you.</td></tr>
		<tr><td>Parabole Shot</td><td>Range Attack</td><td>125 * 4</td><td>Shoot 4 parabolic arrows.</td></tr>
		<tr><td>Piercing Arrows</td><td>Range Attack</td><td>125</td><td>Shoot fast piercing arrows.</td></tr>
		<tr><td>Cold Explosion</td><td>Cold Attack</td><td>550</td><td>Create a powerful explosion of ice.</td></tr>
		<tr><td>Light Wave</td><td>Lightning Attack</td><td>180 * 2</td><td>Shoot 2 waves of light.</td></tr>
		<tr><td>Fire Explosion</td><td>Fire Attack</td><td>300</td><td>Explodes in all directions, piercing through enemies.</td></tr>
		<tr><td>Chilling Strike</td><td>Melee Attack</td><td>300</td><td>A strike with high chance of chilling and pushing back enemies.</td></tr>
		<tr><td>Whirlwind</td><td>Melee Attack</td><td>200</td><td>Deadly sword whirlwind that generates lightning balls.</td></tr>
		<tr><td>Fire Strike</td><td>Melee Attack</td><td>300</td><td>A strike with high chance of burning and bleeding enemies.</td></tr>
		

	</table>
	<br>
	<script>
	Tk.responsiveTable($('#myTable'));
	</script>
	<!--
	setTimeout(function(){
	var arrayAb = ['start-melee',
	'start-bullet',
	'player-magicBullet',
	'player-fireBullet',
	'player-coldBullet',
	'player-lightningBullet',
	'player-meleeBig',
	'player-windKnock',
	'player-magicBomb',
	'start-fireball',
	'start-freeze',
	'player-lightningBomb',
	'start-heal','heal',
	'player-healFast',
	'player-healCost',
	'player-healSlowCast',
	'healZone',
	];
	
	var arrayAb = [
	'player-boomerang',
	'player-paraboleArrow',
	'player-pierceArrow',
	'player-coldBomb',
	'player-lightWave',
	'player-fireBomb',
	'player-whirlwind',
	'player-fireStrike',
	'player-coldStrike',
	];
	
	var str = '';

	for(var i = 0 ; i < arrayAb.length; i++){
		var ab = Ability.get('Qsystem-' + arrayAb[i]);
		if(!ab) con sole.log(arrayAb[i]);
		str += '<tr><td>' 
			+ ab.name + '</td><td>' 
			+ CST.element.toCaps[ab.type] + '</td><td>' 
			+ (ab.type === CST.ABILITY.attack ? (ab.param.dmg.main + ' * ' + ab.param.amount) : '-') + '</td><td>' 
			+ ab.description + '</td></tr>\r\n';
		
	}

	con sole.log(str);

},5000);
-->
	

</div>
<% include ../partial/footer.html %>