<% include ../partial/header.html %>
<script src="/js/shared/Tk.js"></script>
<div class="container">
	<h3>Equip</h3>
	<p>
	There are 5 different equipment slots (Weapon, Body, Helm, Amulet and Ring). Each of them come in different types increasing their power toward a certain element.
	<br>
	You can obtain equipment by killing monsters, completing quests and trading with other players.
	</p>
	<table id="myTable" class="table">
		<tr>
			<th>Slot</th>
			<th>Name</th>
			<th class="hidden-xs hidden-sm">Melee</th>
			<th class="hidden-xs hidden-sm">Range</th>
			<th class="hidden-xs hidden-sm">Arcane</th>
			<th class="hidden-xs hidden-sm">Fire</th>
			<th class="hidden-xs hidden-sm">Cold</th>
			<th class="hidden-xs hidden-sm">Lightning</th>
		</tr>
		<tr>
			<td>Weapon</td>
			<td>Mace</td>
			<td>+50% Dmg</td>
			<td></td>
			<td></td>
			<td>+50% Dmg</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Spear</td>
			<td>+50% Dmg</td>
			<td></td>
			<td></td>
			<td></td>
			<td>+50% Dmg</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Sword</td>
			<td>+50% Dmg</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>+50% Dmg</td>
		</tr>
		<tr>
			<td></td>
			<td>Bow</td>
			<td></td>
			<td>+50% Dmg</td>
			<td></td>
			<td>+50% Dmg</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Crossbow</td>
			<td></td>
			<td>+50% Dmg</td>
			<td></td>
			<td></td>
			<td>+50% Dmg</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Boomerang</td>
			<td></td>
			<td>+50% Dmg</td>
			<td></td>
			<td></td>
			<td></td>
			<td>+50% Dmg</td>
		</tr>
		<tr>
			<td></td>
			<td>Wand</td>
			<td></td>
			<td></td>
			<td>+50% Dmg</td>
			<td>+50% Dmg</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Staff</td>
			<td></td>
			<td></td>
			<td>+50% Dmg</td>
			<td></td>
			<td>+50% Dmg</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Orb</td>
			<td></td>
			<td></td>
			<td>+50% Dmg</td>
			<td></td>
			<td></td>
			<td>+50% Dmg</td>
		</tr>
		<tr>
			<td>Body</td>
			<td>Metal Body</td>
			<td>+50% Def</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Wood Body</td>
			<td></td>
			<td>+50% Def</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Bone Body</td>
			<td></td>
			<td></td>
			<td>+50% Def</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Helm</td>
			<td>Metal Helm</td>
			<td>+50% Def</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Wood Helm</td>
			<td></td>
			<td>+50% Def</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Bone Helm</td>
			<td></td>
			<td></td>
			<td>+50% Def</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Amulet</td>
			<td>Ruby Amulet</td>
			<td></td>
			<td></td>
			<td></td>
			<td>+50% Def</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Sapphire Amulet</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>+50% Def</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Topaz Amulet</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>+50% Def</td>
		</tr>
		<tr>
			<td>Ring</td>
			<td>Ruby Ring</td>
			<td></td>
			<td></td>
			<td></td>
			<td>+50% Def</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Sapphire Ring</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>+50% Def</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Topaz Ring</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>+50% Def</td>
		</tr>
	</table>
	<script>
	Tk.responsiveTable($('#myTable'));
	</script>
	<br>
	<h3>Upgrading Equipment</h3>
	<div>
		<p>
		Equipment can be upgraded in two ways.<br>
		First, you can spend exp to upgrade your equip and increase its Damage/Defence by 5%.<br>
		Secondly, you can use materials to unlock boosts that will make you more powerful.<br>
		</p>
		<div style="display:inline-block">
			<img src="/views/wiki/equipHelm.png">
			<br>
		</div>
	</div>
	<br>
	<p>
	The amount of boosts on an equip is randomly-generated.
	</p>
	<table class="table">
		<tr>
			<th>Boost Amount</th>
			<th>Color</th>
			<th>Chance</th>
		</tr>
		<tr>
			<td>0</td>
			<td>White</td>
			<td>0%</td>
		</tr>
		<tr>
			<td>1</td>
			<td>White</td>
			<td>0%</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Blue</td>
			<td>57%</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Blue</td>
			<td>31.9%</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Orange</td>
			<td>7.4%</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Orange</td>
			<td>2.5%</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Gold</td>
			<td>1.2%</td>
		</tr>
	</table>
	<br>
	
	

</div>
<% include ../partial/footer.html %>