<% include ../partial/header.html %>
<div class="container">
	<h3>Experience</h3>
	<p>
	Exp can be used to improve your equipment or to level up.<br>
	Levelling up grants a Reputation Point which improves a stat of your choice.<br>
	Experience is obtained by killing monsters, completing quests and finishing in Top 5 of the Weekly Competitions.<br>
	</p>
	<p>
	Note: You start off with 10,000 exp. The exact formula is <br>
	&nbsp;&nbsp;Exp = 10000 * 10 ^ (Level / 25)
	</p>
	<div style="row">
		<div class="col-sm-3">
			<table class="table" style="display:inline-block; vertical-align:top;">
				<tr><th>Level</td><th>Exp Required</th></tr>
				<tr><td>0</td><td>10,000</td></tr>
				<tr><td>1</td><td>10,964</td></tr>
				<tr><td>2</td><td>12,022</td></tr>
				<tr><td>3</td><td>13,182</td></tr>
				<tr><td>4</td><td>14,454</td></tr>
				<tr><td>5</td><td>15,848</td></tr>
				<tr><td>6</td><td>17,378</td></tr>
				<tr><td>7</td><td>19,054</td></tr>
				<tr><td>8</td><td>20,892</td></tr>
				<tr><td>9</td><td>22,908</td></tr>
				<tr><td>10</td><td>25,118</td></tr>
				<tr><td>11</td><td>27,542</td></tr>
				<tr><td>12</td><td>30,199</td></tr>
				<tr><td>13</td><td>33,113</td></tr>
				<tr><td>14</td><td>36,307</td></tr>
				<tr><td>15</td><td>39,810</td></tr>
				<tr><td>16</td><td>43,651</td></tr>
				<tr><td>17</td><td>47,863</td></tr>
				<tr><td>18</td><td>52,480</td></tr>
				<tr><td>19</td><td>57,543</td></tr>
				<tr><td>20</td><td>63,095</td></tr>
				<tr><td>21</td><td>69,183</td></tr>
				<tr><td>22</td><td>75,857</td></tr>
				<tr><td>23</td><td>83,176</td></tr>
				<tr><td>24</td><td>91,201</td></tr>
			</table>
		</div>
		<!--
		<div class="col-sm-3">
			<table class="table" style="display:inline-block; vertical-align:top;">
				<tr><th>Level</td><th>Exp Required</th></tr>
				<tr><td>25</td><td>100,000</td></tr>
				<tr><td>26</td><td>109,647</td></tr>
				<tr><td>27</td><td>120,226</td></tr>
				<tr><td>28</td><td>131,825</td></tr>
				<tr><td>29</td><td>144,543</td></tr>
				<tr><td>30</td><td>158,489</td></tr>
				<tr><td>31</td><td>173,780</td></tr>
				<tr><td>32</td><td>190,546</td></tr>
				<tr><td>33</td><td>208,929</td></tr>
				<tr><td>34</td><td>229,086</td></tr>
				<tr><td>35</td><td>251,188</td></tr>
				<tr><td>36</td><td>275,422</td></tr>
				<tr><td>37</td><td>301,995</td></tr>
				<tr><td>38</td><td>331,131</td></tr>
				<tr><td>39</td><td>363,078</td></tr>
				<tr><td>40</td><td>398,107</td></tr>
				<tr><td>41</td><td>436,515</td></tr>
				<tr><td>42</td><td>478,630</td></tr>
				<tr><td>43</td><td>524,807</td></tr>
				<tr><td>44</td><td>575,439</td></tr>
				<tr><td>45</td><td>630,957</td></tr>
				<tr><td>46</td><td>691,830</td></tr>
				<tr><td>47</td><td>758,577</td></tr>
				<tr><td>48</td><td>831,763</td></tr>
				<tr><td>49</td><td>912,010</td></tr>
			</table>
		</div>
		<div class="col-sm-3">
			<table class="table" style="display:inline-block; vertical-align:top;">
				<tr><th>Level</td><th>Exp Required</th></tr>
				<tr><td>50</td><td>1,000,000</td></tr>
				<tr><td>51</td><td>1,096,478</td></tr>
				<tr><td>52</td><td>1,202,264</td></tr>
				<tr><td>53</td><td>1,318,256</td></tr>
				<tr><td>54</td><td>1,445,439</td></tr>
				<tr><td>55</td><td>1,584,893</td></tr>
				<tr><td>56</td><td>1,737,800</td></tr>
				<tr><td>57</td><td>1,905,460</td></tr>
				<tr><td>58</td><td>2,089,296</td></tr>
				<tr><td>59</td><td>2,290,867</td></tr>
				<tr><td>60</td><td>2,511,886</td></tr>
				<tr><td>61</td><td>2,754,228</td></tr>
				<tr><td>62</td><td>3,019,951</td></tr>
				<tr><td>63</td><td>3,311,311</td></tr>
				<tr><td>64</td><td>3,630,780</td></tr>
				<tr><td>65</td><td>3,981,071</td></tr>
				<tr><td>66</td><td>4,365,158</td></tr>
				<tr><td>67</td><td>4,786,300</td></tr>
				<tr><td>68</td><td>5,248,074</td></tr>
				<tr><td>69</td><td>5,754,399</td></tr>
				<tr><td>70</td><td>6,309,573</td></tr>
				<tr><td>71</td><td>6,918,309</td></tr>
				<tr><td>72</td><td>7,585,775</td></tr>
				<tr><td>73</td><td>8,317,637</td></tr>
				<tr><td>74</td><td>9,120,108</td></tr>
			</table>
		</div>
		<div class="col-sm-3">
			<table class="table" style="display:inline-block; vertical-align:top;">
				<tr><th>Level</td><th>Exp Required</th></tr>
				<tr><td>75</td><td>10,000,000</td></tr>
				<tr><td>76</td><td>10,964,781</td></tr>
				<tr><td>77</td><td>12,022,644</td></tr>
				<tr><td>78</td><td>13,182,567</td></tr>
				<tr><td>79</td><td>14,454,397</td></tr>
				<tr><td>80</td><td>15,848,931</td></tr>
				<tr><td>81</td><td>17,378,008</td></tr>
				<tr><td>82</td><td>19,054,607</td></tr>
				<tr><td>83</td><td>20,892,961</td></tr>
				<tr><td>84</td><td>22,908,676</td></tr>
				<tr><td>85</td><td>25,118,864</td></tr>
				<tr><td>86</td><td>27,542,287</td></tr>
				<tr><td>87</td><td>30,199,517</td></tr>
				<tr><td>88</td><td>33,113,112</td></tr>
				<tr><td>89</td><td>36,307,805</td></tr>
				<tr><td>90</td><td>39,810,717</td></tr>
				<tr><td>91</td><td>43,651,583</td></tr>
				<tr><td>92</td><td>47,863,009</td></tr>
				<tr><td>93</td><td>52,480,746</td></tr>
				<tr><td>94</td><td>57,543,993</td></tr>
				<tr><td>95</td><td>63,095,734</td></tr>
				<tr><td>96</td><td>69,183,097</td></tr>
				<tr><td>97</td><td>75,857,757</td></tr>
				<tr><td>98</td><td>83,176,377</td></tr>
				<tr><td>99</td><td>91,201,083</td></tr>
				<tr><td>100</td><td>100,000,000</td></tr>
			</table>
		</div>
		-->
	</div>
	<br>
	
	<h3>Global Experience Modifier</h3>
	<p>
	Every amount of exp gained is multiplied by your Global Experience Modifier (GEM).<br>
	Your GEM starts off at x1 and increases as you complete quests and challenges.<br>
	<br>
	Completing a quest increase your Quest Score for that quest. That Quest Score is used to determined the bonus to your GEM.<br>
	Beating a challenge also increase your GEM by +0.02.<br>
	The current maximum GEM is x2.90 for completing all 19 quests and 54 challenges, which grants x2.9 more exp than usual.<br>
	<br>
	</p>
	
	<table class="table">
		<tr><th>Quest Score</td><th>GEM</th></tr>
		<tr><td>0-9</td><td>+0.00</td></tr>
		<tr><td>10-99</td><td>+0.01</td></tr>
		<tr><td>100-999</td><td>+0.02</td></tr>
		<tr><td>1000-9999</td><td>+0.03</td></tr>
		<tr><td>10000+</td><td>+0.04</td></tr>
		<tr><td>-</td><td>-</td></tr>
		<tr><td>Challenge Complete</td><td>+0.02 Each</td></tr>
	</table>
	<br>
	<br>
	
	
	
	
	
	
	
	
	
	

</div>
<% include ../partial/footer.html %>