<% include ../partial/header.html %>
<div class="container">
	<h3>Material</h3>
	<p>
	Materials can be used to improve the power and defence of equipments.
	Materials are obtained by killing monsters, completing quests and harvesting Skill Plots.
	Every Skill Plot has a tiny chance of granting a Jewel ontop of the regular loot. 
	</p>
	
	<table class="CSSTableGenerator2">
		<tr>
			<th>Material</th>
			<th>Level</th>
			<th>Skill Plot</th>
		</tr>
		
		<tr>
			<td>Bronze Metal</td>
			<td>0</td>
			<td>Bronze Rock</td>
		</tr>
		<tr>
			<td>Iron Metal</td>
			<td>20</td>
			<td>Iron Rock</td>
		</tr>
		<tr>
			<td>Steel Metal</td>
			<td>40</td>
			<td>Steel Rock</td>
		</tr>
		<tr>
			<td>Gold Metal</td>
			<td>60</td>
			<td>Gold Rock</td>
		</tr>
		<tr>
			<td>Crystal Metal</td>
			<td>80</td>
			<td>Crystal Rock</td>
		</tr>
		<tr>
			<td>Red Wood</td>
			<td>0</td>
			<td>Red Tree</td>
		</tr>
		<tr>
			<td>Yellow Wood</td>
			<td>20</td>
			<td>Yellow Tree</td>
		</tr>
		<tr>
			<td>Blue Wood</td>
			<td>40</td>
			<td>Blue Tree</td>
		</tr>
		<tr>
			<td>Grey Wood</td>
			<td>60</td>
			<td>Grey Tree</td>
		</tr>
		<tr>
			<td>Dark Wood</td>
			<td>80</td>
			<td>Dark Tree</td>
		</tr>
		<tr>
			<td>Squirrel Bone</td>
			<td>0</td>
			<td>Squirrel</td>
		</tr>
		<tr>
			<td>Rabbit Bone</td>
			<td>20</td>
			<td>Rabbit</td>
		</tr>
		<tr>
			<td>Fox Bone</td>
			<td>40</td>
			<td>Fox</td>
		</tr>
		<tr>
			<td>Wolf Bone</td>
			<td>60</td>
			<td>Wolf</td>
		</tr>
		<tr>
			<td>Dragon Bone</td>
			<td>80</td>
			<td>Dragon</td>
		</tr>
		<tr>
			<td>Chipped Ruby</td>
			<td>0</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Flawed Ruby</td>
			<td>20</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Normal Ruby</td>
			<td>40</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Flawless Ruby</td>
			<td>60</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Perfect Ruby</td>
			<td>80</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Chipped Sapphire</td>
			<td>0</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Flawed Sapphire</td>
			<td>20</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Normal Sapphire</td>
			<td>40</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Flawless Sapphire</td>
			<td>60</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Perfect Sapphire</td>
			<td>80</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Chipped Topaz</td>
			<td>0</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Flawed Topaz</td>
			<td>20</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Normal Topaz</td>
			<td>40</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Flawless Topaz</td>
			<td>60</td>
			<td>Any</td>
		</tr>
		<tr>
			<td>Perfect Topaz</td>
			<td>80</td>
			<td>Any</td>
		</tr>
	</table>
	<br>
	
	
	

</div>
<% include ../partial/footer.html %>