<% include ../partial/header.html %>
<script src="/js/shared/Tk.js"></script>
<div class="container">
	<h3>Monsters</h3>
	<p>
	This is the list of the most common monsters in Raining Chain. Keep in mind that monster behaviour and attacks change from quest to quest.
	</p>
	<style>
	#myTable tr td {
		font-weight: 500;
	}
	#myTable tr td:first-child {
		/*text-decoration:underline;*/
		font-weight: 900;
	}
	
	</style>
	<table id="myTable" class="table">
		<tr>
			<th>Monster</th>
			<th class="hidden-xs hidden-sm">Resist</th>
			<th class="hidden-xs hidden-sm">Weakness</th>
			<th class="hidden-xs hidden-sm">Behaviour</th>
			<th>Attacks</th>
		</tr>
		<tr>
			<td>Bat</td>
			<td>Melee</td>
			<td>Cold</td>
			<td>Go towards target</td>
			<td>Leech Life, Thunderbolt, Scratch</td>
		</tr>
		<tr>
			<td>Bee</td>
			<td>Arcane</td>
			<td>Fire</td>
			<td>Go towards target</td>
			<td>Shoot Darts, Scratch</td>
		</tr>
		<tr>
			<td>Mosquito</td>
			<td>Cold</td>
			<td>Lightning</td>
			<td>Stay afar</td>
			<td>Shoot Darts, Thunderbolt</td>
		</tr>
		<tr>
			<td>Mushroom</td>
			<td>Fire</td>
			<td>Arcane</td>
			<td>Move Randomly</td>
			<td>Shoot Spores, Leave Spore Trails</td>
		</tr>	
		<tr>
			<td>Plant</td>
			<td>Fire</td>
			<td>Arcane</td>
			<td>Go towards target</td>
			<td>Chilling Darts, Scratch</td>
		</tr>	
		<tr>
			<td>Slime</td>
			<td>Fire</td>
			<td>Arcane</td>
			<td>Go towards target</td>
			<td>Summon Slime Minions, Heal Allies, Ice Shard</td>
		</tr>
		<tr>
			<td>Slime Minion</td>
			<td>Fire</td>
			<td>Arcane</td>
			<td>Go towards target</td>
			<td>Ice Shard</td>
		</tr>
		<tr>
			<td>Salamander</td>
			<td>Arcane</td>
			<td>Melee</td>
			<td>Stay afar</td>
			<td>Burn, Freeze, Stun, Bleeding Blow, Drain Mana</td>
		</tr>
		<tr>
			<td>Orc Warrior</td>
			<td>Range</td>
			<td>Arcane</td>
			<td>Go towards target</td>
			<td>Slash, Shoot arrows</td>
		</tr>
		<tr>
			<td>Goblin Ranger</td>
			<td>Arcane</td>
			<td>Melee</td>
			<td>Stay afar</td>
			<td>Shoot Arrows, Scratch, Lightning Slash</td>
		</tr>
		<tr>
			<td>Goblin Mage</td>
			<td>Melee</td>
			<td>Range</td>
			<td>Stay afar</td>
			<td>Fre Explosion, Heal Allies, Ice Nova, Lightning Slash</td>
		</tr>
		<tr>
			<td>Orc Warrior</td>
			<td>Range</td>
			<td>Arcane</td>
			<td>Go towards target</td>
			<td>Slash, Enrage, Shoot Arrows</td>
		</tr>
		<tr>
			<td>Orc Ranger</td>
			<td>Arcane</td>
			<td>Melee</td>
			<td>Stay afar</td>
			<td>Shoot Arrows, Scratch, Lightning Slash</td>
		</tr>
		<tr>
			<td>Orc Mage</td>
			<td>Melee</td>
			<td>Range</td>
			<td>Stay afar</td>
			<td>Ice Explosion, Heal Allies, Lightning Strike, Fire Strike</td>
		</tr>
		<tr>
			<td>Gargoyle</td>
			<td>Lightning</td>
			<td>Cold</td>
			<td>Stay afar</td>
			<td>Lightning Explosion, Lightning Strike, Thunderbolt, Scratch</td>
		</tr>
		<tr>
			<td>Ghost</td>
			<td>Melee</td>
			<td>Cold</td>
			<td>Stay afar</td>
			<td>Dark Explosion, Shadow Ball, Thunderbolt</td>
		</tr>
		<tr>
			<td>Death</td>
			<td>Melee</td>
			<td>Lightning</td>
			<td>Stay afar</td>
			<td>Dark Explosion, Shadow Ball</td>
		</tr>
		<tr>
			<td>Skeleton</td>
			<td>Range</td>
			<td>Fire</td>
			<td>Stay afar</td>
			<td>Boomerang Throw, Scratch</td>
		</tr>
		<tr>
			<td>Spirit</td>
			<td>Fire</td>
			<td>Lightning</td>
			<td>Stay afar</td>
			<td>Fire Spiral, Fireball, Fire Explosion</td>
		</tr>
		<tr>
			<td>Demon</td>
			<td>Fire</td>
			<td>Arcane</td>
			<td>Stay afar</td>
			<td>Fire Spiral, Fireball, Scratch, Fire Strike</td>
		</tr>
		<tr>
			<td>Taurus</td>
			<td>Melee</td>
			<td>Lightning</td>
			<td>Go towards target</td>
			<td>Rock Throw, Scratch</td>
		</tr>
		<tr>
			<td>Mummy</td>
			<td>Cold</td>
			<td>Fire</td>
			<td>Go towards target</td>
			<td>Curse, Scratch, Ice Nova, Dark Explosion</td>
		</tr>
		<tr>
			<td>Bird</td>
			<td>Melee</td>
			<td>Range</td>
			<td>Stay afar</td>
			<td>Tornado, Scratch, Wind</td>
		</tr>
		<tr>
			<td>Dragon</td>
			<td>Fire</td>
			<td>Lightning</td>
			<td>Stay afar</td>
			<td>Wind Bullet, Fire Spiral, Ice Nova, Lightning Strike, Scratch</td>
		</tr>
	</table>
	<br>
	<script>
	Tk.responsiveTable($('#myTable'));
	</script>
	

</div>
<% include ../partial/footer.html %>